body {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.notification .jumbotron > p {
	font-size: 16px;
	margin: 0;
}

.notification .jumbotron p .btn-primary {
	margin-top: 14px;
}

#gameList.version3-only [hidden] {
	display: none;
}

#gameList.version3-only :not([hidden]) .version-label {
	display: none;
}

#gameList.version3-only .panel-footer #see-less-footer {
	display: none;
}

#gameList:not(.version3-only) .panel-footer #see-more-footer {
	display: none;
}